# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Build directories
build/
dist/

# Temporary files
*.tmp
*.temp

# Environment variables
.env

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db
